<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>OAuth UI client Demo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" href="../../css/app.css"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
<div class="App">
    <header class="App-header">
        <img th:href="@{/images/ons_logo.svg}" src="../../images/ons_logo.svg" class="App-logo" alt="logo"/>
        <h1 class="App-title">Demo OAuth Client Application</h1>
    </header>
    <p class="App-intro"></p>
    <h3 th:text="'Message: ' + ${message}"></h3>
    <h4>Click on the link below to gain authorisation to view your shopping list</h4>
    <br/>
    <a class="btn btn-primary" href="products">Shopping List</a>

</div>
</body>

</html>